.banner {
  width: 100%;
  position: relative;
}

.banner__img {
width: 100%;
}

.fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  z-index: 2;
  background: linear-gradient(180deg, transparent 0%, #111 90%);
}